{% extends 'store/index.html' %}
{% load static %}

        {% block content %}
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to Blog Home!</h1>
                    <p class="lead mb-0">You can write your own advertising content to extract clients</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    {% for post in posts %}
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="{{ post.imageURL }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{post.published_date}}</div>
                            <h2 class="card-title">{{post.title}}</h2>
                            <p class="card-text">{{post.text| linebreaksbr}}</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    {% endfor %}


                 



                </div>

        {% endblock content %}



    </body>
</html>
